<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.digitalerdude.tcr84-tracker-updater</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>/Users/Max/Projekte/tcr84/tools/update-tracker.mjs</string>
    <string>--commit</string>
    <string>--push</string>
    <string>--scheduled</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/Max/Projekte/tcr84/tools</string>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/Max/Projekte/tcr84/tools/update-tracker.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/Max/Projekte/tcr84/tools/update-tracker.log</string>
</dict>
</plist>
